.example-spacer {
  flex: 1 1 auto;
}

#section-login {
  height: 100%;
  width: 500px;
  border-radius: 100px;
  border: 2px solid rgb(181, 173, 191);
  padding: 10px 20px;
}

@keyframes blink {
  0% {
    opacity: 1;
    background-color: rgb(133, 133, 173);
    color: cadetblue;
  }

  1% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  45% {
    opacity: 0;
    background-color: rgb(66, 71, 118);
  }

  50% {
    opacity: 1;
  }
}

main {
  color: rgb(7, 3, 108);
  font-size: 25px;
  animation: blink 5s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}

span {
  padding: 15px 15px;
}

a {
  text-decoration: none;
  color: rgb(28, 3, 81);
}

img {
  height: 50px;
  width: 50px;
}

.container1 {
  position: relative;
  width: 100%;
  height: 100%;
}

.moving-image {
  position: absolute;
  width: 100px;
  /* Ajuste o tamanho conforme necessário */
  animation: moveImage 5s linear infinite;
}

@keyframes moveImage {
  0% {
    left: 0;
  }

  20% {
    left: calc(100% - 100px);
    /* Ajuste 100px para a largura da imagem */
  }

  40% {
    left: 0;
  }
}