<main>
  <section id="section-login">
    <form>
      <div>
        <label for="usuario">Email</label>
        <input name="usuario" required type="text" [(ngModel)]="usuario" />
        <br />
        <label for="password">Password</label>
        <input name="password" type="password" [(ngModel)]="senha" />
      </div>
      <button (click)="fazerLogin()">Login</button>
    </form>
  </section>
  <section id="cruzartela">
    <div class="container1">
      <img src="../../assets/img/zero1.png" alt="Moving logo" class="moving-image">
  </div>

  </section>

</main>
